.cuadrado__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 200px;
    background-color: bisque;
    margin: 15px;
    justify-content: space-evenly;
    border-radius: 10%;
}

.cuadrado__container input {
    width: 90%;
}
.cuadrado__container button {
    width: 92%;
}
.cuadrado__container label {
    font-size: 70%;
    background-color: rgb(226, 218, 145);
    padding: 10px;
}

/* Eliminando el efecto del input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}